{% extends "base_generic.html" %}
{% block content %}
{% load i18n %}

<h1>{% trans "Borrowed books" %}</h1>

{% if bookinstance_list %}
<ul>
    {% for bookinst in bookinstance_list %}
        <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
            <a href="{% url 'book-detail' bookinst.book.pk %}">
                {{ bookinst.book.title }}
            </a>
            - {% trans "Due back" %}: {{ bookinst.due_back }}

            {% if perms.catalog.can_mark_returned %}
                <a href="{% url 'renew-book-librarian' bookinst.pk %}" class="btn btn-sm btn-outline-primary ms-2">
                    {% trans "Renew" %}
                </a>
            {% endif %}
        </li>
    {% empty %}
        <li>{% trans "No borrowed books." %}</li>
    {% endfor %}
</ul>
{% else %}
<p>{% trans "There are no books borrowed." %}</p>
{% endif %}
{% endblock %}
